beautifulsoup4
bs4
build
cachetools
certifi
chainlit
charset-normalizer
chevron
chroma-hnswlib
chromadb
chromedriver-autoinstaller
dataclasses-json
debugpy
decorator
Deprecated
dirtyjson
distro
docstring_parser
et-xmlfile
executing
feedfinder2
feedparser
filelock
filetype
flatbuffers
frozenlist
fsspec
futu-api
google-api-core
google-auth
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
html2text
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
jieba3k
Jinja2
joblib
jq
jsonpatch
jsonpointer
jupyter_client
jupyter_core
jupyterlab_widgets
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-vertexai
langchain-openai
langchain-text-splitters
langchain-together
langchainhub
langsmith
Lazify
literalai
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-index-readers-web
llama-parse
llamaindex-py-client
lxml
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
newspaper3k
nltk
numpy
oauthlib
onnxruntime
openai
openpyxl
orjson
outcome
overrides
packaging
pandas
parso
pexpect
pillow
pip-chill
pipdeptree
platformdirs
playwright
posthog
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pycryptodome
pydantic
pydantic_core
pyee
Pygments
PyJWT
pypdf
PyPika
pyproject_hooks
PySocks
python-dateutil
python-dotenv
python-engineio
python-graphql-client
python-multipart
python-socketio
pytz
pyzmq
regex
requests
requests-file
requests-oauthlib
rich
rsa
safetensors
scikit-learn
scipy
sgmllib3k
shapely
schedule
shellingham
simplejson
simple-websocket
six
sniffio
sortedcontainers
soupsieve
spider-client
stack-data
starlette
striprtf
sympy
syncer
tenacity
threadpoolctl
tiktoken
tinysegmenter
tldextract
tokenizers
tomli
torch
tornado
tqdm
traitlets
transformers
trio
trio-websocket
triton
typer
types-protobuf
types-requests
typing-inspect
typing_extensions
tzdata
uptrace
urllib3
watchfiles
wcwidth
websocket-client
websockets
widgetsnbextension
wrapt
wsproto
yarl
zipp
